@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "./reset.css";
* {
    box-sizing: border-box;
  }

body{background-color: #FB6B6B;
 

}
.root{
    height: 100%;
    width: 100%;
}
.tela1{width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tela1 .imagem {width: 136px;
    height: 161px;
    display: flex;
    margin-top: 148px;
    padding-bottom: 13px;
}

.tela1 .texto{font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 400;

}
 .button p{
    width: 246px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #D70900;
    background: #FFFFFF;
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
    border-radius: 5px;
}

.tela2{width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tela2 .topo{
    display: flex;
    align-items: center !important;
    justify-items: center !important;
    height: 84px; 
    top: 0px;
}

.topo .imagem{width: 52px;
    height: 60px;
    display: flex;
   padding-right: 25px;
  
}
.topo .texto{font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
   width: 200px;
}
.conteudo{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.flashcard{width: 300px;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    font-size: 16px;
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 25px;
    padding: 5px;
}



.flashcard ion-icon[name="play-outline"]{
   
    margin-left: 120px;
    color:black;
    font-size: 30px;
}

.pergunta{width: 300px;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333333;
    background: #FFFFFF;
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 20px;
}

.pergunta img{
    width: 25px;
    height: 15px;
    margin-top: 80px;
    cursor: pointer;
}

.pergunta div:first-child{
    width: 60%;
}

.resposta{width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 20px;
}

.baixo {width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-weight: 400;
    position: fixed;
    bottom: 0px;
    
}
.resposta .ajuste{
    display: flex;

}
.botaoNlembrei{width: 80px;
    height: 35px;
    font-size: 12px;
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-weight: 400;
    color:#FFFFFF;
    background-color: #FF3030;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.botaoQuaseNlembrei{width: 80px;
    height: 35px;
    font-size: 12px;
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-weight: 400;
    color:#FFFFFF;
    background-color: #FF922E;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    border-radius: 5px;
    cursor: pointer;
}
.botaoZap{width: 80px;
    height: 35px;
    font-size: 12px;
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-weight: 400;
    color:#FFFFFF;
    background-color: #2FBE34;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

ion-icon[name="close-circle"] {
    color: #FF3030;
    font-size: 20px;
    margin-left: 120px;
}

ion-icon[name="help-circle"] {
    color: #FF922E;
    font-size: 20px;
    margin-left: 120px;
}

ion-icon[name="checkmark-circle"] {
    color: #2FBE34;
    font-size: 20px;
    margin-left: 120px;
}

.flashcard .Nlembrei {
    color: #FF3030;
    text-decoration-line: line-through;
    
}

.flashcard .QuaseNlembrei {
    color: #FF922E;
    text-decoration-line: line-through;
    
}

.flashcard .Zap {
    color: #2FBE34;
    text-decoration-line: line-through;
}

.baixo2 {
    z-index: 1;
    width: 100%;
    height: auto;
}



.msg {
    width: 100vw;
    height: 70px;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 70px;
    z-index: 1;
}

.msg p {
    width: 85%;
    height: auto;
    font-family: Recursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
}

.msg h2 {
    font-family: Recursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

h2 img{
    width: 23px;
    height: 23px;
}